header {
  height: 350px;
  background-color: #FFA500;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  font-size: 20px;
  font-family: 'Bungee', sans-serif;
  z-index: 2;
  
}

#img-align{
  top: 0px; 
  width: 100%;
  padding-top: 40px;
  text-align: center;
  font-size: 32px;
  z-index: 0;
}

#name-align{
  width: 100%;
  top: 280px;   
  text-align: center;
}

.redText {
  color: red;
} 