nav {
  height: 120px;
  color: #FFFFFF;
  top: 0px;
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

#nav-align {
  font-size: 40px;
  font-family: 'Bungee', sans-serif;
  position: absolute; 
  bottom: 10%; 
  left: 20px; 
}

#nav-down {
  color: #FFFFFF;
  opacity: 0.7;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  bottom: 20%; 
  left: 80%;
}

#nav-down:hover {
  opacity: 1.0; 
}
